![alt_text](https://lh3.googleusercontent.com/n7bc_8C-uvlVu0aq1r_MKAkPZpcfJ6ODIOqOaI69M7Y1VCbGEfIR6njC-gccVio-kil5dSTOz6GuuoFJO1AleDc=s0)

# 1. Data Science & Supply Chain

## 1.2 Qu'est-ce que la Data Science ?

### La Data Science est une discipline qui a pour but d'exploiter, de découvrir les tendances qui se cachent derrière les données. C'est une science qui est à la frontière de 3 grands domaines : les mathématiques, le business et l'informatique. On va y retrouver plusieurs grands axes : la collecte des données, le nettoyage, stockage, la modélisation, l'analyse, la visualisation et surtout ... l'interprétation des données. C'est l'art de découvrir les idées et les tendances qui se cachent derrière les données.

## 1.2 Quelle utilité et pour quels domaines d'application en Supply Chain ?

![alt_text](https://data-flair.training/blogs/wp-content/uploads/sites/2/2019/03/Data-science-for-beginners.jpg)

### - Manipulation, stockage et analyse d'enormes volumes de données (Big Data).
### - Création et amélioration des modèles de forcasting grâce au Machine Learning. 
### - Réduction des coûts, amélioration de la performance, minimisation des risques. 
### - Faire de la maintenance prédictive grâce à l'IA et la reconnaissance visuelle. 
### - Gestion d'entrepôts connéctés et intelligents grâce à la récolte des données en lien avec l'IoT 
### - Visualisation et analyse de problèmes au sein de la chaîne logistique. 
### - Automatisation de tâches à non valeur ajoutée.  
### - Outil d'interprétation et d'aide à la décision.

![alt_text](https://miro.medium.com/max/2400/0*H68CP7om94B4rQLo.png)

![alt_text](https://blogs-images.forbes.com/louiscolumbus/files/2018/06/contextual-intelligence.jpg)

# 2. Quels Languages de programmation utiliser en Data Science ? 
![alt_text](https://www.excelptp.com/wp-content/uploads/2019/08/default-blog-excelptp.jpg)

## 2.1 Python 
![alt_text](https://logos-download.com/wp-content/uploads/2016/10/Python_logo_wordmark.png) 

### - Indispensable !
### - Facile à utiliser 
### - Nombreux domaines d'application ( POO, IA, Data Science, scripting, logiciel) 
### - Grande communauté, figure dans le top 3 des languages les plus utilisés au monde.
### - Open source et comprenant de nombreuses bibliothèques.

## 2.2 SQL 

![alt_text](https://www.macworld.co.uk/cmsdata/features/3638150/setup_learn_sql_mac_thumb800.jpg)

### - Indispensable ! 
### - Language permettant d'intérragir avec des bases de données de de formuler des requêtes.

## 2.3 R
![alt_text](https://ict.iitk.ac.in/wp-content/uploads/r-programming-3.jpg)
### - Language orienté 100% sur les  statistiques

# 3. Les bibliothèques indispensable avec Python en Data Science 
## Une bibliothèque est un ensemble de modules et de fonctions qui sont regroupées et mises à disposition afin de pouvoir être utilisées sans avoir à les réécrire.

## 3.2 Numpy - Calcul scientifique et machine learning 
![alt_text](https://cdn-images-1.medium.com/fit/t/1600/480/1*cyXCE-JcBelTyrK-58w6_Q.png)

## 3.3 Scipy - Calcul Scientifique et machine learning 

![alt_text](https://qcarchive.molssi.org/images/blog/scipy.gif)

## 3.1 Pandas - Outil pratique pour l'extraction et l'analyse de données
![alt_text](https://s3.amazonaws.com/lintel-blogs-static-files/wp-content/uploads/2019/07/14165137/pandas.jpg)

## 3.4 Matplotlib - Data Visualization

![alt_text](https://matplotlib.org/_static/logo2_compressed.svg)

## 3.5 Seaborn - Data Visualization

![alt_text]()

## 3.6 SciKit-Learn - Data Analysis & Data Mining

![alt_text](https://scipy-lectures.org/_images/scikit-learn-logo.png)

## 3.7 TensorFlow - Deep learning et machine learning 

![alt_text](https://seeklogo.com/images/T/tensorflow-logo-AE5100E55E-seeklogo.com.png)

# 4. Les outils utilisés en Data Science 

## 4.1 Annaconda - Distribution libre et open source de Python et R 

![alt_text](https://www.anaconda.com/wp-content/uploads/2018/06/cropped-Anaconda_horizontal_RGB-1-600x102.png)

### - Librairies citées au dessus pré-installées ( 7500+ packages ) 

![alt_text](https://www.anaconda.com/wp-content/uploads/2018/11/distro-01-1.png)

## 4.2 Jupyter Notebook - Application Web permettant de programmer dans plus de 40 langages. 

### - Pré-installé dans Anaconda.
### - Interface Web
### - Disposition en notebook (code + texte : idéal pour une présentation visuelle en Data Science). 

![alt_text](https://i0.wp.com/brickodeurs.fr/wp-content/uploads/2019/09/2019-09-24-15_52_11-Project-Jupyter-_-Home-Opera.png?fit=800%2C283&ssl=1)

## 4.3 Spyder - Environnement complet de développement. 
### - Pré-installée dans Annaconda
### - Plus adapté que Jupyter pour certains développements. 
### - Plus rapide et efficace avec des aides à la programmation. 

![alt_text](https://raw.githubusercontent.com/spyder-ide/spyder/master/img_src/spyder_readme_banner.png)

# 5. Python VS Excel

## - Reproductibilité 
### Les fonctions crées et les scripts peuvent être réutilisés à l'infini dans de nombreux projets. 
## - Scalabilité et efficacité 
### Python est immensément plus rapide qu'Excel, s'adapte au Big Data et peut être automatisé (plus simplement et plus efficacement qu'en VBA). Excel limité à 1 million de lignes et très lent avec un grand nombre de données.
## - Deep Learning/Machine Learning 
### Python peut être utilisé en Deep Learning/Machine Learning pour créer des modèles de prédiction et de simulation. 
## - Intégration 
### Python peut être intéragir avec de nombreux logiciels extérieurs, avec des APIs, des bases de données SQL et peut donc être automatisé pour collecter les données, les analyser, les visualiser et les sauvegarder. 
## - Analyse et Visualisation de données très poussées

![alt_text](https://www.fusioncharts.com/blog/wp-content/uploads/2018/05/geoplotlib-python-data-visualization-libraries-fusioncharts.png) 
![alt_text](https://2.bp.blogspot.com/-ZCnG08W6zSY/W-qgJ-XKRYI/AAAAAAAALdY/pgbhuYEFAVo37cOBZPkX98K0j9bzeO0hACLcBGAs/s1600/plot_surface_animation_funcanimation_r.gif)
![alt_text](https://www.shanelynn.ie/wp-content/uploads/2019/05/data-visualisation-python-wall-street-journal-job-trend.png)

# 6. SQL VS Access

### Access n'est pratiquement pas utilisé dans les entreprises.

### Peu sécurisé, Access fonctionne en local à partir d'un fichier, ça n'est pas un SGBD client/serveur. 
### Une base de donnée sur Access ne peut peser que 2 Go maximum.
### Access ne peut pas réaliser de requêtes complexes. 
## 6.1 Quelles sont les bases de données les plus utilisées en entreprise ? 
![alt_text]()
![alt_text](https://www.inwise.com/wp-content/uploads/2017/04/mysql.png) 
![alt_text](https://phgeiger.files.wordpress.com/2011/06/logo-sql-server-horizontal.png?w=584) 
![alt_text](https://d1.awsstatic.com/rdsImages/postgresql_logo.6de4615badd99412268bc6aa8fc958a0f403dd41.png)
![alt_text](https://certificacaobd.com.br/wp-content/uploads/2012/05/db2_dest.png)

# Introduction à la manipulation de données : 
# 7. Exemple simple de requête SQL sur le SGBD IBM DB2 on Cloud

### Création d'une table de produits comprenant des données indispensables du département Approvisionnement
![alt_text](http://image.noelshack.com/fichiers/2020/15/7/1586717521-sql.png)

# 8. Exemple simple d'automatisation de gestion des approvisionnements avec Python à partir d'une base de donnée SQL. 

## 8.1 Création d'un fonction (suite d'instructions)
#### Définir des arguments (provenant des colonnes de notre base de donnée SQL) 
#### Calcul du stock de sécurité (selon la loi normale avec variation de la demande et du délai de livraison).
#### Calcul du point de commande (déclanchement des commandes).
#### Calcul de la formule de Wilson (quantité optimale à commander afin d'optimiser les coûts logistiques).
#### Calcul du nombre de commandes par an.
#### Calcul de la fréquence d'approvisionnement (en jours).

In [8]:
#Le stock de sécurité : SS = Z x √(D x σV²) + (VMh² x σD²) avec √ = racine carrée
#SS = 1,65 x racine carrée [(2x9²) + (75²x0.4²)] = 53 pots
 
#Le point de commande : P = (Demande moyenne hebdomadaire x nombre de semaines) + SS
#P = (75 x 2) + 53 = 203 pots

from math import *
# NO_P = Numéro produit  #agruments
# DemA = Demande Annuelle 
# DemM = Demande Mensuelle
# ETdem = Ecartype demande mensuelle
# DelA = Délai Approvisionnement mensuel (1 mois = 30 jours)
# ETdelA = Ecartype délai approvisionnement mensuel 
# TS = Taux satisfaction  Z = 1,65 qui correspond à un taux de 95,05%
# CL = Coût lancement d'une commande 
# CS = Coût de stockage 

def gestion_appro(NumO,DemA,CL,CS,DemM,ETdem,DelA,ETdelA,TS):  #fonction 
    
    print("~~~~~~~~~~~~ Produit n° ", int(NumO),"~~~~~~~~~~~~") #instructions
    
    print('') 
    
    calcul_SS=(TS*sqrt((DelA*ETdem**2)+(DemM*ETdelA)**2)) 
    print("Stock de sécurité:",int(calcul_SS))
    
    calcul_PC=(calcul_SS+DemM*DelA)
    print("Point de commande:",int(calcul_PC))
    
    calcul_wilson= round((sqrt((2*DemA*CL)/CS)))
    print("Quantité économique de commande:",calcul_wilson)
    
    calcul_nbr_comm_an=round((DemA/calcul_wilson))
    print("Nous devons passer",calcul_nbr_comm_an, "commandes par an")
    
    calcul_freq_comm=round((365/calcul_nbr_comm_an))
    print("On doit commander tous les", calcul_freq_comm,"jours")
    
    print("")

## 8.2 Output

#### Calcul simple pour un seul produit

In [7]:
gestion_appro(1,12000,700,5,1000,50,0.5,0.1,1.65)

~~~~~~~~~~~~ Produit n°  1 ~~~~~~~~~~~~

Stock de sécurité: 175
Point de commande: 675
Quantité économique de commande: 1833
Nous devons passer 7 commandes par an
On doit commander tous les 52 jours

## 8.3 Importatation de la librairie Pandas et de notre fichier .csv

In [3]:
import pandas as pd     #on importe la librairie pandas 

csv_path='Logistique.csv'     
df=pd.read_csv(csv_path)  #on importe le fichier csv provenant notre base de donnée sql
df.head(5)                # on affiche les 5 premiers éléments de notre dataframe

,NO_PRODUIT,DEMANDE_ANNUELLE,COUT_LANCEMENT,COUT_STOCKAGE,DEMANDE_MENSUELLE,ECARTYPE_DEMANDEMENS,DÉLAI_APPROMENS,ECARTYPE_DELAI_APPROMENS,TAUX_SATISFACTION
0,1,12000.0,43.0,2.85,1000.0,141.4,1.15,0.14,1.28
1,2,900.0,50.0,5.00,75.0,9.0,2.00,0.40,1.65
2,3,900.0,50.0,5.00,75.0,9.0,2.00,0.40,1.65
3,4,900.0,50.0,5.00,75.0,9.0,2.00,0.40,1.65
4,5,900.0,50.0,5.00,75.0,9.0,2.00,0.40,1.65

## 8.4 Boucle for qui va répéter notre suite d'instructions pour chaque produit dans notre DataFrame.

In [4]:
for i, j in df.iterrows(): #on crée une boucle for qui va itérer pour chaque produit dans notre df la série de calculs définis plus haut.
    gestion_appro(j['NO_PRODUIT'], j['DEMANDE_ANNUELLE'], j['COUT_LANCEMENT'], j['COUT_STOCKAGE'], j['DEMANDE_MENSUELLE'], j['ECARTYPE_DEMANDEMENS'], j['DÉLAI_APPROMENS'], j['ECARTYPE_DELAI_APPROMENS'], j['TAUX_SATISFACTION'])

~~~~~~~~~~~~ Produit n°  1 ~~~~~~~~~~~~

Stock de sécurité: 264
Point de commande: 1414
Quantité économique de commande: 602
Nous devons passer 20.0 commandes par an
On doit commander tous les 18.0 jours

~~~~~~~~~~~~ Produit n°  2 ~~~~~~~~~~~~

Stock de sécurité: 53
Point de commande: 203
Quantité économique de commande: 134
Nous devons passer 7.0 commandes par an
On doit commander tous les 52.0 jours

~~~~~~~~~~~~ Produit n°  3 ~~~~~~~~~~~~

Stock de sécurité: 53
Point de commande: 203
Quantité économique de commande: 134
Nous devons passer 7.0 commandes par an
On doit commander tous les 52.0 jours

~~~~~~~~~~~~ Produit n°  4 ~~~~~~~~~~~~

Stock de sécurité: 53
Point de commande: 203
Quantité économique de commande: 134
Nous devons passer 7.0 commandes par an
On doit commander tous les 52.0 jours

~~~~~~~~~~~~ Produit n°  5 ~~~~~~~~~~~~

Stock de sécurité: 53
Point de commande: 203
Quantité économique de commande: 134
Nous devons passer 7.0 commandes par an
On doit commander tous les 52.0 jours

~~~~~~~~~~~~ Produit n°  6 ~~~~~~~~~~~~

Stock de sécurité: 53
Point de commande: 203
Quantité économique de commande: 134
Nous devons passer 7.0 commandes par an
On doit commander tous les 52.0 jours

~~~~~~~~~~~~ Produit n°  7 ~~~~~~~~~~~~

Stock de sécurité: 53
Point de commande: 203
Quantité économique de commande: 134
Nous devons passer 7.0 commandes par an
On doit commander tous les 52.0 jours

~~~~~~~~~~~~ Produit n°  8 ~~~~~~~~~~~~

Stock de sécurité: 53
Point de commande: 203
Quantité économique de commande: 134
Nous devons passer 7.0 commandes par an
On doit commander tous les 52.0 jours

~~~~~~~~~~~~ Produit n°  9 ~~~~~~~~~~~~

Stock de sécurité: 53
Point de commande: 203
Quantité économique de commande: 134
Nous devons passer 7.0 commandes par an
On doit commander tous les 52.0 jours

~~~~~~~~~~~~ Produit n°  10 ~~~~~~~~~~~~

Stock de sécurité: 53
Point de commande: 203
Quantité économique de commande: 134
Nous devons passer 7.0 commandes par an
On doit commander tous les 52.0 jours

~~~~~~~~~~~~ Produit n°  11 ~~~~~~~~~~~~

Stock de sécurité: 53
Point de commande: 203
Quantité économique de commande: 134
Nous devons passer 7.0 commandes par an
On doit commander tous les 52.0 jours

~~~~~~~~~~~~ Produit n°  12 ~~~~~~~~~~~~

Stock de sécurité: 53
Point de commande: 203
Quantité économique de commande: 134
Nous devons passer 7.0 commandes par an
On doit commander tous les 52.0 jours

~~~~~~~~~~~~ Produit n°  13 ~~~~~~~~~~~~

Stock de sécurité: 53
Point de commande: 203
Quantité économique de commande: 134
Nous devons passer 7.0 commandes par an
On doit commander tous les 52.0 jours

~~~~~~~~~~~~ Produit n°  14 ~~~~~~~~~~~~

Stock de sécurité: 53
Point de commande: 203
Quantité économique de commande: 134
Nous devons passer 7.0 commandes par an
On doit commander tous les 52.0 jours

~~~~~~~~~~~~ Produit n°  15 ~~~~~~~~~~~~

Stock de sécurité: 53
Point de commande: 203
Quantité économique de commande: 134
Nous devons passer 7.0 commandes par an
On doit commander tous les 52.0 jours

~~~~~~~~~~~~ Produit n°  16 ~~~~~~~~~~~~

Stock de sécurité: 53
Point de commande: 203
Quantité économique de commande: 134
Nous devons passer 7.0 commandes par an
On doit commander tous les 52.0 jours

~~~~~~~~~~~~ Produit n°  17 ~~~~~~~~~~~~

Stock de sécurité: 53
Point de commande: 203
Quantité économique de commande: 134
Nous devons passer 7.0 commandes par an
On doit commander tous les 52.0 jours

~~~~~~~~~~~~ Produit n°  18 ~~~~~~~~~~~~

Stock de sécurité: 53
Point de commande: 203
Quantité économique de commande: 134
Nous devons passer 7.0 commandes par an
On doit commander tous les 52.0 jours

~~~~~~~~~~~~ Produit n°  19 ~~~~~~~~~~~~

Stock de sécurité: 53
Point de commande: 203
Quantité économique de commande: 134
Nous devons passer 7.0 commandes par an
On doit commander tous les 52.0 jours

~~~~~~~~~~~~ Produit n°  20 ~~~~~~~~~~~~

Stock de sécurité: 53
Point de commande: 203
Quantité économique de commande: 134
Nous devons passer 7.0 commandes par an
On doit commander tous les 52.0 jours

## Ce petit programme répète l'opération sur 20 produits en un seul clic ! 
## Si la base de données comprenait 3 millions de produits, on aurait également pu l'utiliser en un seul clic. Voici donc un exemple concret d'automatisation d'une activité qui pourraît être adapté pour n'importe quel type de calcul, plus ou moins complexe sur n'importe quelle base de données.

## 8.5 Avancé : Exporter les résultats obtenus sous forme d'un nouveau dataframe en .csv

In [5]:
from math import *
import pandas as pd

def stock_row(NumO,DemA,CL,CS,DemM,ETdem,DelA,ETdelA,TS):
    calcul_SS=(TS*sqrt((DelA*ETdem**2)+(DemM*ETdelA)**2))
    calcul_PC=(calcul_SS+DemM*DelA)
    calcul_wilson= round((sqrt((2*DemA*CL)/CS)))
    calcul_nbr_comm_an=round((DemA/calcul_wilson))
    calcul_freq_comm=round((365/calcul_nbr_comm_an))
    row = {
        'calcul_SS':calcul_SS,
        'calcul_PC':calcul_PC,
        'calcul_wilson':calcul_wilson,
        'calcul_nbr_comm_an':calcul_nbr_comm_an,
        'calcul_freq_comm':calcul_freq_comm
    }
    return row

df2 = pd.DataFrame(columns=['calcul_SS', 'calcul_PC', 'calcul_wilson', 'calcul_nbr_comm_an','calcul_freq_comm'])

csv_path='Logistique.csv'
df=pd.read_csv(csv_path)

for i,j in df.iterrows():
    df2 = df2.append(stock_row(j['NO_PRODUIT'],
                        j['DEMANDE_ANNUELLE'],
                        j['COUT_LANCEMENT'],
                        j['COUT_STOCKAGE'],
                        j['DEMANDE_MENSUELLE'],
                        j['ECARTYPE_DEMANDEMENS'],
                        j['DÉLAI_APPROMENS'],
                        j['ECARTYPE_DELAI_APPROMENS'],
                        j['TAUX_SATISFACTION']), ignore_index=True)
df2

,calcul_SS,calcul_PC,calcul_wilson,calcul_nbr_comm_an,calcul_freq_comm
0,264.167484,1414.167484,602.0,20.0,18.0
1,53.770763,203.770763,134.0,7.0,52.0
2,53.770763,203.770763,134.0,7.0,52.0
3,53.770763,203.770763,134.0,7.0,52.0
4,53.770763,203.770763,134.0,7.0,52.0
5,53.770763,203.770763,134.0,7.0,52.0
6,53.770763,203.770763,134.0,7.0,52.0
7,53.770763,203.770763,134.0,7.0,52.0
8,53.770763,203.770763,134.0,7.0,52.0
9,53.770763,203.770763,134.0,7.0,52.0
10,53.770763,203.770763,134.0,7.0,52.0
11,53.770763,203.770763,134.0,7.0,52.0
12,53.770763,203.770763,134.0,7.0,52.0
13,53.770763,203.770763,134.0,7.0,52.0
14,53.770763,203.770763,134.0,7.0,52.0
15,53.770763,203.770763,134.0,7.0,52.0
16,53.770763,203.770763,134.0,7.0,52.0
17,53.770763,203.770763,134.0,7.0,52.0
18,53.770763,203.770763,134.0,7.0,52.0
19,53.770763,203.770763,134.0,7.0,52.0

# 8.6 Exporter en .csv

In [19]:
df2.to_csv('Stratégie_Stock')

# 9. Se former en Data Science en autodidacte ?

![alt_text]()

![alt_text](https://pic.clubic.com/v1/images/1711730/raw?width=1200&fit=max&hash=5148ccb358b598cae3abe77727432f8e9415ca1f)

![alt_text](https://vtk.ugent.be/media/thumbs/logos/logo_datacamp.png.960x540_q85_crop-scale_upscale.png)

![alt_text](https://consent.trustarc.com/get?name=oc_logo.png)

![alt_text](https://www.creads.fr/app/uploads/sites/1/2017/08/youtube.png)

![alt_text](https://www.webdesignerdepot.com/cdn-origin/uploads/2017/08/logotype-monogram.png)

![alt_text](https://www.kaggle.com/static/images/site-logo.png)


# [Top 20 Data Science Blogs And Websites For Data Scientists](https://medium.com/@exastax/top-20-data-science-blogs-and-websites-for-data-scientists-d88b7d99740)

# 10. Les outils Data science et Business Intelligence pour non programmeur.

![alt_text](https://www.existbi.com/wp-content/uploads/2018/12/Tableau-Software.png)

![alt_text](https://3er1viui9wo30pkxh1v2nh4w-wpengine.netdna-ssl.com/wp-content/uploads/sites/113/2017/06/power-bi-logo.jpg)

![alt_text](https://www.opso.fr/images/2019/10/28/qlik2019.png)

![alt_text](https://www.stat4decision.com/wp-content/uploads/2015/06/Rapidminer_logo-e1435301276900.jpg)

![alt_text](https://infotopics.nl/wp-content/uploads/2018/01/datarobot.jpg)

# [Top 10 Data Science & ML Tools for Non-Programmers](https://towardsdatascience.com/top-10-data-science-ml-tools-for-non-programmers-d12ce6dcccc)